<div class="page-header pb-10 page-header-dark bg-gradient-primary-to-secondary">
    <div class="container-fluid">
        <div class="page-header-content">
            <h1 class="page-header-title">
                <div class="page-header-icon"><i data-feather="layout"></i></div>
                <span>Breadcrumbs Header</span>
            </h1>
            <div class="page-header-subtitle">The custom page header supports and styles Bootstrap breadcrumbs</div>
            <ol class="breadcrumb mt-4 mb-0">
                <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                <li class="breadcrumb-item active">Breadcrumbs Header</li>
            </ol>
        </div>
    </div>
</div>