{% extends 'base/body.html' %} {% block headercontect %}
    {% include 'base/header/overlapHeader.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid mt-n10">
  <div class="card">
    <div class="card-header">Informacion</div>
    <div class="card-body">
      <p class="mb-2">
        <strong class="text-primary">Nombre:</strong>
        <span class="text-dark">{{ contactoProveedor.nombre }}</span>
      </p>
      <p class="mb-2">
        <strong class="text-primary">Telefono:</strong>
        <span class="text-muted">{{ contactoProveedor.telefono }}</span>
      </p>
      <p class="mb-2">
        <strong class="text-primary">Correo Electrónico:</strong>
        <span class="text-muted">{{ contactoProveedor.email }}</span>
      </p>
      <p class="mb-3">
        {% if imagenes %}
            {% for imagene in imagenes %}
                <img src="{{ imagene.imagen.url }}">
            {% endfor %}
        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}
      <a href="{% url 'inventario:contactoProveedorLista' %}" class="btn btn-outline-primary btn-sm">← Volver a la lista</a>
    </div>
  </div>
</div>
{% endblock %}