{% extends 'base/body.html' %} {% block headercontect %}
    {% include 'base/header/overlapHeader.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid mt-n10">
  <div class="card">
    <div class="card-header">Informacion</div>
    <div class="card-body">
      <p class="mb-2">
        <strong class="text-primary">Nombre:</strong>
        <span class="text-dark">{{ producto.nombre }}</span>
      </p>
      <p class="mb-2">
        <strong class="text-primary">Descripción:</strong>
        <span class="text-muted">{{ producto.descripcion }}</span>
      </p>
      <p class="mb-2">
        <strong class="text-primary">Precio:</strong>
        <span class="fw-bold text-success">${{ producto.precio_compra }}</span>
      </p>
      <p class="mb-3">
        <strong class="text-primary">Stock:</strong>
        {% if producto.stock > 0 %}
        <span class="badge bg-success text-white">{{ producto.stock }}</span>
        {% else %}
        <span class="badge bg-danger text-white">Agotado</span>
        {% endif %}
      </p>
        {% if imagenes %}
            {% for imagene in imagenes %}
                <img src="{{ imagene.imagen.url }}">
            {% endfor %}
        {% else %}
            <p>No hay imagen disponible.</p>
        {% endif %}
      
      <a href="{% url 'inventario:index' %}" class="btn btn-outline-primary btn-sm">← Volver a la lista</a>
    </div>
  </div>
</div>
{% endblock %}