{% extends 'base/body.html' %}

{% block headercontect %}
	    {% include 'base/header/overlapHeader.html' %}
{% endblock %}

{% block content %}
    <div class="container-fluid mt-n10">
        <div class="card">
            <div class="card-header">{{ producto }}</div>
            <div class="">
                {% for imagene in imagenes %}
                {{ imagene.orden }}
                    <img src="{{ imagene.imagen.url }}" alt="Imagen del producto {{ producto }}" class="w-1/4 h-auto p-2">
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}