{% extends 'base/body.html' %}

{% block headercontect %}
{% include 'base/header/overlapHeader.html' %}
{% endblock %}


{% block content %}

<div class="container-fluid mt-n10">
    <div class="card card-header-actions">
        <div class="card-header">Nuevo producto
            <a class="btn btn-primary btn-sn" href="{% url 'inventario:index' %}">volver</a>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="label" for="codigo">
                        <span class="label-text">Codigo</span>
                    </label>
                    {{ form.codigo}}
                </div>
                <div class="form-group">
                    <label class="label" for="nombre">
                        <span class="label-text">Nombre</span>
                    </label>
                    {{ form.nombre}}
                </div>
                <div class="form-group">
                    <label class="label" for="precio_compra">
                        <span class="label-text">Descripcion del Producto</span>
                    </label>
                    {{ form.descripcion}}
                </div>
                <div class="form-group">
                    <label class="label" for="precio_compra">
                        <span class="label-text">Precio Compra</span>
                    </label>
                    {{ form.precio_compra}}
                </div>
                <div class="form-group">
                    <label class="label" for="precio_venta">
                        <span class="label-text">Precio venta</span>
                    </label>
                    {{ form.precio_venta}}
                </div>
                <div class="form-group">
                    <label class="label" for="precio_mayoreo">
                        <span class="label-text">Precio Mayoreo</span>
                    </label>
                    {{ form.precio_mayoreo}}
                </div>
                <div class="form-group">
                    <label class="label" for="cantidad_mayoreo">
                        <span class="label-text">Cantidad Mayoreo</span>
                    </label>
                    {{ form.cantidad_mayoreo}}
                </div>
                 <div class="form-group">
                    <label class="label" for="stock">
                        <span class="label-text">Stock Actual</span>
                    </label>
                    {{ form.stock}}
                </div>
                 <div class="form-group">
                    <label class="label" for="stock_minimo">
                        <span class="label-text">Stock Minimo</span>
                    </label>
                    {{ form.stock_minimo}}
                </div>
                <div class="form-group">
                    <label class="label" for="unidad_medida">
                        <span class="label-text">Unidad Medida</span>
                    </label>
                    {{ form.unidad_medida}}
                </div>
                <div class="form-group">
                    <label class="label" for="categoria">
                        <span class="label-text">Categoria</span>
                    </label>
                    {{ form.categoria}}
                </div>
                <div class="form-group">
                    <label class="label" for="marca">
                        <span class="label-text">marca</span>
                    </label>
                    {{ form.marca}}
                </div>
                <div class="form-group">
                    <label class="label" for="proveedor_principal">
                        <span class="label-text">Proveedor Principal</span>
                    </label>
                    {{ form.proveedor_principal}}
                </div>
                <div class="form-group">
                    <label class="label" for="contacto_proveedor">
                        <span class="label-text">Contacto del proveedor</span>
                    </label>
                    {{ form.contacto_proveedor}}
                </div>
                <div class="form-group">
                    <label class="label" for="estado">
                        <span class="label-text">Estado del Producto</span>
                    </label>
                    {{ form.estado}}
                </div>
                <div class="card-actions">
                    <button type="submit">Guardar</button>
                    <button type="reset">resetear</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}