{% extends 'base/body.html' %}
{% block headercontect %}
    {% include 'base/header/overlapHeader.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid mt-n10">
  <div class="card card-header-actions">
    <div class="card-header">
      Lista de productos
      <a
        class="btn btn-primary btn-sn"
        href=" {% url 'inventario:crear_producto' %}"
        >Nuevo Producto</a
      >
    </div>
    <div class="card-header-actions"></div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable">
          <thead>
            <tr>
              <th>CODIGO</th>
              <th>NOMBRE</th>
              <th>PRECIO COMPRA</th>
              <th>PRECIO VENTA</th>
              <th>PRECIO MAYOREO</th>
              <th>CANTIDAD MAYOREO</th>
              <th>CANTIDAD PRODUCTO</th>
              <th>ESTADO</th>
              <th>CATEGORIA</th>
              <th>ACCIONES</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>CODIGO</th>
              <th>Nombre</th>
              <th>PRECIO COMPRA</th>
              <th>PRECIO VENTA</th>
              <th>PRECIO MAYOREO</th>
              <th>CANTIDAD MAYOREO</th>
              <th>CANTIDAD PRODUCTO</th>
              <th>ESTADO</th>
              <th>CATEGORIA</th>
              <th>ACCIONES</th>
            </tr>
          </tfoot>
          <tbody>
            {% for producto in productos %}
            <tr id="fila-{{ producto.id }}">
              <td>{{ producto.codigo }}</td>
              <td>{{ producto.nombre }}</td>
              <td>{{ producto.precio_compra }}</td>
              <td>{{ producto.precio_venta }}</td>
              <td>{{ producto.precio_mayoreo }}</td>
              <td>{{ producto.cantidad_mayoreo }}</td>
              <td>
                {% if producto.stock > 0 %}
                <span class="badge badge-success">{{ producto.stock }}</span>
                {% else %}
                <span class="badge badge-danger">Agotado</span>
                {% endif %}
              </td>
              <td>
                <span
                  class="badge {% if producto.estado == 'Disponible' %}badge-success {% elif producto.estado == 'Proximo Agotarse' %}badge-warning {% else %}badge-danger {% endif %}"
                  >{{ producto.estado }}
                </span>
              </td>
              <td>{{ producto.categoria }}</td>
              <td class="text-nowrap">
                <a
                  class="btn btn-success btn-sm"
                  href="{% url 'inventario:mostrar_productos' producto.id %}"
                  >Detalle</a
                >
                <a
                  class="btn btn-primary btn-sm"
                  href="{% url 'inventario:editar_producto' producto.id %}"
                  >Editar</a
                >
                <button
                  onclick="alertaEliminar('{{producto.id}}')"
                  class="btn btn-danger btn-sm"
                >
                  Eliminar
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  // Call the dataTables jQuery plugin
  $(document).ready(function () {
    $("#dataTable").DataTable();
  });

  $(document).ready(function () {
    $("#dataTableActivity").DataTable({
      order: [[0, "desc"]],
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  function alertaEliminar(id) {
    Swal.fire({
      title: "¿Estas seguro de eliminar este producto?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sí, borrar",
    }).then((result) => {
      if (result.isConfirmed) {
        fetch("/eliminar_producto/" + id + "/", {
          method: "POST",
          headers: {
            "X-CSRFToken": "{{ csrf_token }}",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.estado == "ok") {
              Swal.fire({
                title: "Eliminado",
                text: "El producto fue eliminado correctamente",
                icon: "success",
              });

              document.getElementById("fila-" + id).remove();
            } else {
              Swal.fire({
                title: "No se puede eliminar",
                text: data.mensaje,
                icon: "error",
              });
            }
          });
      }
    });
  }
</script>
{% endblock %}
