{% extends 'base/body.html' %}


{% block headercontect %}
    {% include 'base/header/overlapHeader.html' %}
{% endblock %}
{% block content %}
    <div class="container-fluid mt-n10">
        <div class="card">
            <div class="card-header">Lista de Provedores</div>
            <div class="card-body">
                <table class="table table-bordered table-hover" id="dataTable">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>direccion</th>
                        <th>sitio web</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for provedor in proveedores %}
                        <td>{{ provedor.nombre }}</td>
                        <td>{{ provedor.telefono }}</td>
                        <td>{{ provedor.email }}</td>
                        <td>{{ provedor.direccion|default:'No' }}</td>
                        <td>
                            {% if provedor.sitio_web %}
                                <a href="{{ provedor.sitio_web }}" target="_blank">
                                    sitio web
                                </a>
                            {% else %}
                                No
                                establecido
                            {% endif %}

                        </td>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}