{% extends 'base/body.html' %} {% block headercontent %}
 {% include 'base/header/overlapHeader.html' %} {% endblock %} {% block content %}

{% extends 'base/body.html' %} {% block headercontect %}
    {% include 'base/header/overlapHeader.html' %}
{% endblock %}
{% block content %}
<div class="container-fluid mt-n10">
  <div class="card">
    <div class="card-header">Lista de productos</div>
    <div class="card-body">
      <table class="table table-bordered table-hover" id="dataTable">
        <thead>
          <tr>
            <th>CODIGO</th>
            <th>NOMBRE</th>
            <th>PRECIO COMPRA</th>
            <th>PRECIO VENTA</th>
            <th>PRECIO MAYOREO</th>
            <th>CANTIDAD MAYOREO</th>
            <th>CANTIDAD PRODUCTO</th>
            <th>CATEGORIA</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>CODIGO</th>
            <th>Nombre</th>
            <th>PRECIO COMPRA</th>
            <th>PRECIO VENTA</th>
            <th>PRECIO MAYOREO</th>
            <th>CANTIDAD MAYOREO</th>
            <th>Cantidad PRODUCTO</th>
            <th>CATEGORIA</th>
            <th>ESTADO</th>
            <th>ACCIONES</th>
          </tr>
        </tfoot>
        <tbody>
          {% for producto in productos %}
          <tr>
            <td>{{ producto.codigo }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio_compra }}</td>
            <td>{{ producto.precio_venta }}</td>
            <td>{{ producto.precio_mayoreo }}</td>
            <td>{{ producto.cantidad_mayoreo }}</td>
            <td>
              {% if producto.stock > 0%}
              <span class="badge badge-success">{{ producto.stock }}</span>
              {% else %}
              <span class="badge badge-danger">Agotado</span>
                {% endif %}

            </td>
            <td>{{ producto.categoria }}</td>
            <td>{{ producto.estado }}</td>

            <td>
              <button class="btn btn-primary">Editar</button>
              <button class="btn btn-danger">Eliminar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  // Call the dataTables jQuery plugin
  $(document).ready(function () {
    $("#dataTable").DataTable();
  });

  $(document).ready(function () {
    $("#dataTableActivity").DataTable({
      order: [[0, "desc"]],
    });
  });
</script>

{% endblock %}  